.AddProduct{
    width: 100%;
    height: auto;
}

.AddProduct .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.AddProduct form{
    display: flex;
    flex-direction: column;
}

.AddProduct form input{
    margin-top: 10px;
    width: 300px;
    height: 38px;
    outline: none;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
}

.AddProduct form textarea{
    margin-top: 10px;
    width: 300px;
    outline: none;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    height: 90px;
}

.AddProduct form .file{
    padding: 0;
}