.header{
    color: white;
    background-color: rgb(27, 27, 27);
}

.header .icons{
    margin-left: 20px;
    border-radius: 8px;
    text-align: center;

}

.header .icons a{
    color: white;
    text-decoration: none;
}

.header .icons:hover{
    background-color: rgb(56, 56, 56);
}

.header .title{
    font-size: 25px;
    font-weight: 500;
}

.header .cart-number{
    background-color: white;
    color: black;
    border-radius: 30px;
    padding: 1px;
}