.admin-products{
    height: auto;
    width: 97vw;
}

.admin-products th{
    background-color: rgb(19, 18, 18);
    color: white;
}

.admin-products td{
    background-color: rgb(19, 18, 18);
    color: white;
}

.admin-products td img{
    height: 40px;
    width: 40px;
    border-radius: 8px;
}